# Dependencias
node_modules/
package-lock.json
yarn.lock

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
logs/*
!logs/.gitkeep
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales
temp/*
!temp/.gitkeep
.tmp/
.temp/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de cobertura de pruebas
coverage/

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de compilación
dist/
build/ 